h1{
    /* letters */
    size:35pt;
    font-family: 'Courier New', Courier, monospace;
    /* structure */
	text-align: center;
}

p{
    /* letters */
    size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* structure */
    padding: 30px;
}